---
# Feel free to add content and custom Front Matter to this file.
# To modify the layout, see https://jekyllrb.com/docs/themes/#overriding-theme-defaults

layout: home
---


<!-- START JUMBOTRON -->
    <section class="jumbotron bg-light mt-4">
        <h1 class="display-5 tk-adelle lang-orange">Learning Resources</h1>
            <p class="lead text-muted">The purpose of this site is to …Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wis.</p>
    </section> <!-- END JUMBOTRON -->
